<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade</title>
</head>
<body bgcolor="DodgerBlue">
<center><h2>Student's Marksheet</h2></center><br><br>
<center>
    <form  method="post">
        <div>
            Student Name: <input type="text" name="nm" placeholder="Enter student name" required><br><br>
            Marathi: <input type="text" name="first" placeholder="Enter your marathi marks" required><br><br>
            Hindi: <input type="text" name="second" placeholder="Enter your hindi marks" required><br><br>
            English: <input type="text" name="third" placeholder="Enter your english marks" required><br><br>
            Science: <input type="text" name="fourth" placeholder="Enter your science marks" required><br><br>
            History: <input type="text" name="fifth" placeholder="Enter your history marks" required><br><br>
        <input type="submit"><br> <input type="reset">


        </div>
    </form>

</center>
</body>
</html>
